<div class="jumbotron">
    <h1>This Is Another Page</h1>
    <p class="lead">Read this now</p>
</div>
<div class="row">
    <div class="col-md-4">Meet</div>
    <div class="col-md-4">My</div>
    <div class="col-md-4">Demands</div>
</div>
<div class="row">
    <div class="col-md-4">Bootstrap Column 1</div>
    <div class="col-md-4">Bootstrap Column 2</div>
    <div class="col-md-4">Bootstrap Column 3</div>
</div>
